<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">NodeJS Course</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="user-avatar" src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.6435-9/198835349_4396774633675087_1868145930369099814_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=xQkOSLNydwYAX9KyhCX&_nc_oc=AQnnfg3Im9j40LIs4JjX44PAIlNKb2ew1I5r573gQOlPZMOCASXE44P0E-uvkeszVDzG7p6-h6m2Q1EQmp1uPus2&_nc_ht=scontent.fhan2-2.fna&oh=6f2aec19b348ae396bda9309a2cf7e9c&oe=60F0A73E" alt="">
                        Ngân Lê</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/courses/create">Tạo khóa học</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/search">Tìm kiếm</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>